<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}"
</head>
<body>
<div>
    <h2>Mozaika</h2>
    <b>Podane argumenty:</b><br>
    losowo: {{ arguments['losowo'] }}<br>
    X: {{ arguments['X'] }}<br>
    Y: {{ arguments['Y'] }}<br><br>
    <b>Adresy URL:</b><br>
    {% for url in urls %}
                    {{ url }}<br>
                {% endfor %}
    Ilość adresów: {{ arguments['ile'] }}
</div>
<p>
<img src="{{ url_for('static', filename='result_photo.jpeg') }}">
</p>

</body>
</html>